@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --font-heading: var(--font-alfa);
  --color-ring: var(--ring);
  --color-border: var(--border);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #000000;
  --foreground: #ffffff;
  --primary: #08cb00;
  --primary-foreground: #000000;
  --secondary: #253900;
  --secondary-foreground: #ffffff;
  --muted: #1a1a1a;
  --muted-foreground: #a1a1aa;
  --accent: #253900;
  --accent-foreground: #ffffff;
  --border: #253900;
  --ring: #08cb00;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}